<h2><%= t('helpers.titles.public_search_results', default: 'Public Search Results') %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t '.type', :default =>  t("helpers.labels.document_type") %></th>
      <th><%=t '.document_number', :default =>  t("helpers.labels.document_number") %></th>
      <th><%=t '.name', :default =>  t("helpers.labels.name") %></th>
      <th><%=t '.date', :default =>  t("helpers.labels.date") %></th>
      <th><%=t '.total', :default =>  t("helpers.labels.total") %></th>
      <th><%=t '.status', :default =>  t("helpers.labels.status") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><span class='label label-default'><%= document.type %></span></td>
        <td><%= document.document_number %></td>
        <td><%= document.account.nil? ? '' : document.account.name %></td>
        <td><%= document.date.strftime(document.company.date_format) %></td>
        <td><%= number_to_currency(document.total, unit: "", separator: document.company.separator , delimiter: document.company.delimiter, format: "%u %n") %></td>
        <% if document.payments_document != nil %>
         <%= display_status document.payments_document.status %>
        <% else %>
         <%= display_status document.status %>
        <% end %>
        <td>
          <%= link_to t('.print', :default => t("helpers.links.print")),
                      document_report_documents_path(document, :company => document.domain),
                      :class => 'btn btn-mini btn-info',
                      :target => '_blank' %>
          <% if document.attach.present? %>
            <%= link_to t('.attachment', :default => t("helpers.links.attachment", :default => 'Attachment')),
                        document.attach.url,
                        :class => 'btn btn-mini btn-success',
                        :target => '_blank' %>
          <% else %>
            <%= link_to t('.attachment', :default => t("helpers.links.attachment", :default => 'Attachment')),
                        '#',
                        :class => 'btn btn-mini btn-success disabled',
                        :disabled => true %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.print', :default => t("helpers.links.print")),
            documents_report_documents_path(:start_at => @start_at, :end_at => @end_at, :name => @name, :status => @status, :type => @document_type, :company => @documents.first.domain),
            :class => 'btn' %>
